<div class="row bg-primary rounded-bottom shadow-sm">
<div class="col-md-12 mx-auto mt-2 text-center text-white">
<p>
Copyright <span id="currentYear"></span> {{metadata.title}}
</p>
</div>
</div>
<script>document.getElementById('currentYear').textContent = new Date().getFullYear();</script>
